<head>
  <title>fakeorange</title>
</head>

<body>
  <div class="container">
    {{> hello}}
  </div>
</body>

<template name="hello">
  <h1>History</h1>
  <!--{{greeting}}-->
  <!--{{feedback}}-->
  {{#each feedback}}
  <p>
    <button class="btn btn-large btn-primary" type="button">{{raw}}</button>
  </p>
  {{/each}}
  <!--<input type="button" value="Click" />-->
</template>
